[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "NAIR"]
	path = NAIR
	url = https://github.com/mlizhangx/network-analysis-for-repertoire-sequencing-
